# Case Study - Summer Olympics
The analysis involves integrating multi-DataFrame skills from this course and also skills gained in previous pandas courses.

# 1. Medals in the Summer Olympics
### 1.1 Loading Olympic edition DataFrame
In this chapter, you'll be using [The Guardian's Olympic medal dataset](https://www.theguardian.com/sport/datablog/2012/jun/25/olympic-medal-winner-list-data).

Your first task here is to prepare a DataFrame `editions` from a _tab-separated values_ (TSV) file.

Initially, `editions` has 26 rows (one for each Olympic _edition_, i.e., a year in which the Olympics was held) and 7 columns: `'Edition'`, `'Bronze'`, `'Gold'`, `'Silver'`, `'Grand Total'`, `'City'`, and `'Country'`.

For the analysis that follows, you won't need the overall medal counts, so you want to keep only the useful columns from `editions`: `'Edition'`, `'Grand Total'`, `City`, and `Country`.

### Instructions:
* Read `file_path` into a DataFrame called `editions`. The identifier `file_path` has been pre-defined with the filename `'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv'`. You'll have to use the option `sep='\t'` because the file uses tabs to delimit fields (`pd.read_csv()` expects commas by default).
* Select only the columns `'Edition'`, `'Grand Total'`, `'City'`, and `'Country'` from `editions`.
* Print the final DataFrame `editions` in entirety (there are only 26 rows).

In [1]:
#Import pandas
import pandas as pd

# Create file path: file_path
file_path = '_datasets/Summer_Olympics/Summer Olympic medalists 1896 to 2008 - EDITIONS.tsv'

# Load DataFrame from file_path: editions
editions = pd.read_csv(file_path, sep='\t')

# Extract the relevant columns: editions
editions = editions[['Edition', 'Grand Total', 'City', 'Country']]

# Print editions DataFrame
print(editions)

    Edition  Grand Total         City                     Country
0      1896          151       Athens                      Greece
1      1900          512        Paris                      France
2      1904          470    St. Louis               United States
3      1908          804       London              United Kingdom
4      1912          885    Stockholm                      Sweden
5      1920         1298      Antwerp                     Belgium
6      1924          884        Paris                      France
7      1928          710    Amsterdam                 Netherlands
8      1932          615  Los Angeles               United States
9      1936          875       Berlin                     Germany
10     1948          814       London              United Kingdom
11     1952          889     Helsinki                     Finland
12     1956          885    Melbourne                   Australia
13     1960          882         Rome                       Italy
14     1964         1010        Tokyo                       Japan
15     1968         1031  Mexico City                      Mexico
16     1972         1185       Munich  West Germany (now Germany)
17     1976         1305     Montreal                      Canada
18     1980         1387       Moscow       U.S.S.R. (now Russia)
19     1984         1459  Los Angeles               United States
20     1988         1546        Seoul                 South Korea
21     1992         1705    Barcelona                       Spain
22     1996         1859      Atlanta               United States
23     2000         2015       Sydney                   Australia
24     2004         1998       Athens                      Greece
25     2008         2042      Beijing                       China

### 1.2 Loading IOC codes DataFrame
Your task here is to prepare a DataFrame `ioc_codes` from a comma-separated values (CSV) file.

Initially, `ioc_codes` has 200 rows (one for each country) and 3 columns: `'Country'`, `'NOC'`, & `'ISO code'`.

For the analysis that follows, you want to keep only the useful columns from `ioc_codes`: `'Country'` and `'NOC'` (the column `'NOC'` contains three-letter codes representing each country).

### Instructions:
* Read `file_path` into a DataFrame called `ioc_codes`. The identifier `file_path` has been pre-defined with the filename `'Summer Olympic medallists 1896 to 2008 - IOC COUNTRY CODES.csv'`.
* Select only the columns `'Country'` and `'NOC'` from `ioc_codes`.
* Print the leading 5 and trailing 5 rows of the DataFrame `ioc_codes` (there are 200 rows in total).

In [2]:
# Import pandas
import pandas as pd

# Create the file path: file_path
file_path = '_datasets/Summer_Olympics/Summer Olympic medalists 1896 to 2008 - IOC COUNTRY CODES.csv'

# Load DataFrame from file_path: ioc_codes
ioc_codes = pd.read_csv(file_path)

# Extract the relevant columns: ioc_codes
ioc_codes = ioc_codes[['Country', 'NOC']]

# Print first and last 5 rows of ioc_codes
print(ioc_codes.head())
print(ioc_codes.tail())

           Country  NOC
0      Afghanistan  AFG
1          Albania  ALB
2          Algeria  ALG
3  American Samoa*  ASA
4          Andorra  AND
             Country  NOC
196          Vietnam  VIE
197  Virgin Islands*  ISV
198            Yemen  YEM
199           Zambia  ZAM
200         Zimbabwe  ZIM

### 1.3 Building medals DataFrame
Here, you'll start with the DataFrame `editions` from the previous exercise.

You have a sequence of files `summer_1896.csv`, `summer_1900.csv`, ..., `summer_2008.csv`, one for each Olympic edition (year).

You will build up a dictionary `medals_dict` with the Olympic editions (years) as keys and DataFrames as values.

The dictionary is built up inside a loop over the `year` of each Olympic edition (from the Index of `editions`).

Once the dictionary of DataFrames is built up, you will combine the DataFrames using `pd.concat()`.

### Instructions:
* Within the `for` loop:
    * Create the file path. This has been done for you.
    * Read `file_path` into a DataFrame. Assign the result to the `year` key of `medals_dict`.
    * Select only the columns `'Athlete'`, `'NOC'`, and `'Medal'` from `medals_dict[year]`.
    * Create a new column called `'Edition'` in the DataFrame `medals_dict[year]` whose entries are _all_ `year`.
* Concatenate the dictionary of DataFrames `medals_dict` into a DataFame called `medals`. Specify the keyword argument `ignore_index=True` to prevent repeated integer indices.
* Print the first and last 5 rows of `medals`.

In [3]:
file_names = [ 'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv',
               'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.tsv']
medals = pd.read_csv(file_names[1], sep='\t', skiprows=4)
print(medals.head())
# Generate individual files summer_YYYY.csv from medals DataFrame
gr = medals.groupby('Edition')
[ gr.get_group(y).drop(['Edition','City'],axis='columns').to_csv('_datasets/Summer_Olympics/Editions/summer_{:d}.csv'.format(y), 
                                                                 index=False) for y in gr.groups ]

     City  Edition     Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios  GRE    Men
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
4  Athens     1896  Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze
3  100m freestyle for sailors            M    Gold
4  100m freestyle for sailors            M  Silver

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [4]:
# Import pandas
import pandas as pd

# Create empty dictionary: medals_dict
medals_dict = {}

for year in editions['Edition']:

    # Create the file path: file_path
    file_path = '_datasets/Summer_Olympics/Editions/summer_{:d}.csv'.format(year)
    
    # Load file_path into a DataFrame: medals_dict[year]
    medals_dict[year] = pd.read_csv(file_path)
    
    # Extract relevant columns: medals_dict[year]
    medals_dict[year] = medals_dict[year][['Athlete', 'NOC', 'Medal']]
    
    # Assign year to column 'Edition' of medals_dict
    medals_dict[year]['Edition'] = year
    
# Concatenate medals_dict: medals
medals = pd.concat(medals_dict, ignore_index=True)

# Print first and last 5 rows of medals
print(medals.head())
print(medals.tail())

              Athlete  NOC   Medal  Edition
0       HAJOS, Alfred  HUN    Gold     1896
1    HERSCHMANN, Otto  AUT  Silver     1896
2   DRIVAS, Dimitrios  GRE  Bronze     1896
3  MALOKINIS, Ioannis  GRE    Gold     1896
4  CHASAPIS, Spiridon  GRE  Silver     1896
                    Athlete  NOC   Medal  Edition
29211        ENGLICH, Mirko  GER  Silver     2008
29212  MIZGAITIS, Mindaugas  LTU  Bronze     2008
29213       PATRIKEEV, Yuri  ARM  Bronze     2008
29214         LOPEZ, Mijain  CUB    Gold     2008
29215        BAROEV, Khasan  RUS  Silver     2008

# 2. Quantifying Performance
### 2.1 Counting medals by country/edition in a pivot table
Here, you'll start with the concatenated DataFrame `medals` from the previous exercise.

You can construct a _pivot table_ to see the number of medals each country won in each year. The result is a new DataFrame with the Olympic edition on the Index and with 138 country `NOC` codes as columns. If you want a refresher on pivot tables, it may be useful to refer back to 'Setting up a pivot table' in 'Rearranging and reshaping' data in Manipulating DataFrames.

### Instructions:
* Construct a pivot table from the DataFrame `medals`, aggregating by `count` (by specifying the `aggfunc` parameter). Use `'Edition'` as the `index`, `'Athlete'` for the `values`, and `'NOC'` for the `columns`.
* Print the first & last 5 rows of `medal_counts`.

In [6]:
# Construct the pivot_table: medal_counts
medal_counts = medals.pivot_table(index='Edition', values='Athlete', aggfunc='count', columns='NOC')

# Print the first & last 5 rows of medal_counts
print(medal_counts.head())
print(medal_counts.tail())

NOC      AFG  AHO  ALG   ANZ  ARG  ARM  AUS   AUT  AZE  BAH  ...   URS  URU  \
Edition                                                      ...
1896     NaN  NaN  NaN   NaN  NaN  NaN  2.0   5.0  NaN  NaN  ...   NaN  NaN
1900     NaN  NaN  NaN   NaN  NaN  NaN  5.0   6.0  NaN  NaN  ...   NaN  NaN
1904     NaN  NaN  NaN   NaN  NaN  NaN  NaN   1.0  NaN  NaN  ...   NaN  NaN
1908     NaN  NaN  NaN  19.0  NaN  NaN  NaN   1.0  NaN  NaN  ...   NaN  NaN
1912     NaN  NaN  NaN  10.0  NaN  NaN  NaN  14.0  NaN  NaN  ...   NaN  NaN

NOC        USA  UZB  VEN  VIE  YUG  ZAM  ZIM   ZZX
Edition
1896      20.0  NaN  NaN  NaN  NaN  NaN  NaN   6.0
1900      55.0  NaN  NaN  NaN  NaN  NaN  NaN  34.0
1904     394.0  NaN  NaN  NaN  NaN  NaN  NaN   8.0
1908      63.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN
1912     101.0  NaN  NaN  NaN  NaN  NaN  NaN   NaN

[5 rows x 138 columns]
NOC      AFG  AHO  ALG  ANZ   ARG  ARM    AUS  AUT  AZE  BAH ...   URS  URU  \
Edition                                                      ...
1992     NaN  NaN  2.0  NaN   2.0  NaN   57.0  6.0  NaN  1.0 ...   NaN  NaN
1996     NaN  NaN  3.0  NaN  20.0  2.0  132.0  3.0  1.0  5.0 ...   NaN  NaN
2000     NaN  NaN  5.0  NaN  20.0  1.0  183.0  4.0  3.0  6.0 ...   NaN  1.0
2004     NaN  NaN  NaN  NaN  47.0  NaN  157.0  8.0  5.0  2.0 ...   NaN  NaN
2008     1.0  NaN  2.0  NaN  51.0  6.0  149.0  3.0  7.0  5.0 ...   NaN  NaN

NOC        USA  UZB  VEN  VIE   YUG  ZAM  ZIM  ZZX
Edition
1992     224.0  NaN  NaN  NaN   NaN  NaN  NaN  NaN
1996     260.0  2.0  NaN  NaN  26.0  1.0  NaN  NaN
2000     248.0  4.0  NaN  1.0  26.0  NaN  NaN  NaN
2004     264.0  5.0  2.0  NaN   NaN  NaN  3.0  NaN
2008     315.0  6.0  1.0  1.0   NaN  NaN  4.0  NaN

[5 rows x 138 columns]

As you can see, the pivot table DataFrame has mostly `NaN` entries (because most countries do not win any medals in a given Olympic edition).

### 2.2 Computing fraction of medals per Olympic edition
In this exercise, you'll start with the DataFrames `editions`, `medals`, & `medal_counts` from prior exercises.

You can extract a Series with the total number of medals awarded in each Olympic edition.

The DataFrame `medal_counts` can be divided row-wise by the total number of medals awarded each edition; the method `.divide()` performs the broadcast as you require.

This gives you a normalized indication of each country's performance in each edition.

### Instructions:
* Set the index of the DataFrame `editions` to be `'Edition'` (using the method `.set_index()`). Save the result as `totals`.
* Extract the `'Grand Total'` column from `totals` and assign the result back to `totals`.
* Divide the DataFrame `medal_counts` by `totals` along each row. You will have to use the `.divide()` method with the option `axis='rows'`. Assign the result to `fractions`.
* Print first & last 5 rows of the DataFrame `fractions`.

In [7]:
# Set Index of editions: totals
totals = editions.set_index('Edition')

# Reassign totals['Grand Total']: totals
totals = totals['Grand Total']

# Divide medal_counts by totals: fractions
fractions = medal_counts.divide(totals, axis='rows')

# Print first & last 5 rows of fractions
print(fractions.head())
print(fractions.tail())

NOC      AFG  AHO  ALG       ANZ  ARG  ARM       AUS       AUT  AZE  BAH  \
Edition
1896     NaN  NaN  NaN       NaN  NaN  NaN  0.013245  0.033113  NaN  NaN
1900     NaN  NaN  NaN       NaN  NaN  NaN  0.009766  0.011719  NaN  NaN
1904     NaN  NaN  NaN       NaN  NaN  NaN       NaN  0.002128  NaN  NaN
1908     NaN  NaN  NaN  0.023632  NaN  NaN       NaN  0.001244  NaN  NaN
1912     NaN  NaN  NaN  0.011299  NaN  NaN       NaN  0.015819  NaN  NaN

NOC        ...     URS  URU       USA  UZB  VEN  VIE  YUG  ZAM  ZIM       ZZX
Edition    ...
1896       ...     NaN  NaN  0.132450  NaN  NaN  NaN  NaN  NaN  NaN  0.039735
1900       ...     NaN  NaN  0.107422  NaN  NaN  NaN  NaN  NaN  NaN  0.066406
1904       ...     NaN  NaN  0.838298  NaN  NaN  NaN  NaN  NaN  NaN  0.017021
1908       ...     NaN  NaN  0.078358  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1912       ...     NaN  NaN  0.114124  NaN  NaN  NaN  NaN  NaN  NaN       NaN

[5 rows x 138 columns]
NOC          AFG  AHO       ALG  ANZ       ARG       ARM       AUS       AUT  \
Edition
1992         NaN  NaN  0.001173  NaN  0.001173       NaN  0.033431  0.003519
1996         NaN  NaN  0.001614  NaN  0.010758  0.001076  0.071006  0.001614
2000         NaN  NaN  0.002481  NaN  0.009926  0.000496  0.090819  0.001985
2004         NaN  NaN       NaN  NaN  0.023524       NaN  0.078579  0.004004
2008     0.00049  NaN  0.000979  NaN  0.024976  0.002938  0.072968  0.001469

NOC           AZE       BAH ...   URS       URU       USA       UZB       VEN  \
Edition                     ...
1992          NaN  0.000587 ...   NaN       NaN  0.131378       NaN       NaN
1996     0.000538  0.002690 ...   NaN       NaN  0.139860  0.001076       NaN
2000     0.001489  0.002978 ...   NaN  0.000496  0.123077  0.001985       NaN
2004     0.002503  0.001001 ...   NaN       NaN  0.132132  0.002503  0.001001
2008     0.003428  0.002449 ...   NaN       NaN  0.154261  0.002938  0.000490

NOC           VIE       YUG       ZAM       ZIM  ZZX
Edition
1992          NaN       NaN       NaN       NaN  NaN
1996          NaN  0.013986  0.000538       NaN  NaN
2000     0.000496  0.012903       NaN       NaN  NaN
2004          NaN       NaN       NaN  0.001502  NaN
2008     0.000490       NaN       NaN  0.001959  NaN

[5 rows x 138 columns]

### 2.3 Computing percentage change in fraction of medals won
Here, you'll start with the DataFrames `editions`, `medals`, `medal_counts`, & `fractions` from prior exercises.

To see if there is a host country advantage, you first want to see how the fraction of medals won changes from edition to edition.

The _expanding mean_ provides a way to see this down each column. It is the value of the mean with all the data available up to that point in time. If you are interested in learning more about pandas' expanding transformations, this section of the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) has additional information.

Instructions:
* Create `mean_fractions` by chaining the methods `.expanding().mean()` to `fractions`.
* Compute the percentage change in `mean_fractions` down each column by applying `.pct_change()` and multiplying by `100`. Assign the result to `fractions_change`.
* Reset the index of `fractions_change` using the `.reset_index()` method. This will make `'Edition'` an ordinary column.
* Print the first and last 5 rows of the DataFrame `fractions_change`.

In [8]:
# Apply the expanding mean: mean_fractions
mean_fractions = fractions.expanding().mean()

# Compute the percentage change: fractions_change
fractions_change = mean_fractions.pct_change()*100

# Reset the index of fractions_change: fractions_change
fractions_change = fractions_change.reset_index()

# Print first & last 5 rows of fractions_change
print(fractions_change.head())
print(fractions_change.tail())

NOC  Edition  AFG  AHO  ALG        ANZ  ARG  ARM        AUS        AUT  AZE  \
0       1896  NaN  NaN  NaN        NaN  NaN  NaN        NaN        NaN  NaN
1       1900  NaN  NaN  NaN        NaN  NaN  NaN -13.134766 -32.304688  NaN
2       1904  NaN  NaN  NaN        NaN  NaN  NaN   0.000000 -30.169386  NaN
3       1908  NaN  NaN  NaN        NaN  NaN  NaN   0.000000 -23.013510  NaN
4       1912  NaN  NaN  NaN -26.092774  NaN  NaN   0.000000   6.254438  NaN

NOC    ...      URS  URU         USA  UZB  VEN  VIE  YUG  ZAM  ZIM        ZZX
0      ...      NaN  NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN        NaN
1      ...      NaN  NaN   -9.448242  NaN  NaN  NaN  NaN  NaN  NaN  33.561198
2      ...      NaN  NaN  199.651245  NaN  NaN  NaN  NaN  NaN  NaN -22.642384
3      ...      NaN  NaN  -19.549222  NaN  NaN  NaN  NaN  NaN  NaN   0.000000
4      ...      NaN  NaN  -12.105733  NaN  NaN  NaN  NaN  NaN  NaN   0.000000

[5 rows x 139 columns]
NOC  Edition  AFG  AHO        ALG  ANZ       ARG        ARM        AUS  \
21      1992  NaN  0.0  -7.214076  0.0 -6.767308        NaN   2.754114
22      1996  NaN  0.0   8.959211  0.0  1.306696        NaN  10.743275
23      2000  NaN  0.0  19.762488  0.0  0.515190 -26.935484  12.554986
24      2004  NaN  0.0   0.000000  0.0  9.625365   0.000000   8.161162
25      2008  NaN  0.0  -8.197807  0.0  8.588555  91.266408   6.086870

NOC       AUT        AZE ...   URS        URU       USA        UZB       VEN  \
21  -3.034840        NaN ...   0.0   0.000000 -1.329330        NaN  0.000000
22  -3.876773        NaN ...   0.0   0.000000 -1.010378        NaN  0.000000
23  -3.464221  88.387097 ...   0.0 -12.025323 -1.341842  42.258065  0.000000
24  -2.186922  48.982144 ...   0.0   0.000000 -1.031922  21.170339 -1.615969
25  -3.389836  31.764436 ...   0.0   0.000000 -0.450031  14.610625 -6.987342

NOC       VIE       YUG        ZAM        ZIM  ZZX
21        NaN  0.000000   0.000000   0.000000  0.0
22        NaN -2.667732 -10.758472   0.000000  0.0
23        NaN -2.696445   0.000000   0.000000  0.0
24   0.000000  0.000000   0.000000 -43.491929  0.0
25  -0.661117  0.000000   0.000000 -23.316533  0.0

[5 rows x 139 columns]